body {
  font-family: 'Arial', sans-serif;
  background-color: #f3e9dd;
  margin: 0;
  padding: 20px;
}

/* .container {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
} */

.recipe-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.description {
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}

.prep-time {
  background-color: #f3ebfc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.prep-time h3 {
  color: #6c3483;
  margin-bottom: 10px;
}

.prep-time ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #333;
}

h2 {
  color: #7b3f00;
  margin-top: 30px;
  margin-bottom: 10px;
}

.ingredients, .instructions {
  color: #333;
  padding-left: 20px;
  margin-bottom: 20px;
}

.instructions li {
  margin-bottom: 10px;
  line-height: 1.5;
}

table.nutrition {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table.nutrition th, table.nutrition td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table.nutrition td strong {
  color: #b33939;
}
