@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* variables */
:root {
  --primary-color: #4caf4f;
  --lite-primary-color: #4caf4f57;
  --tint-color: #e8f5e9;
  --main-grey: #4d4d4d;
  --sec-grey: #717171;
  --text-grey: #18191f;
  --main-black: #263238;
  --silver-color: #f5f7fa;
  --main-white: #ffffff;
}

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.custom-btn {
  background-color: var(--primary-color);
  color: var(--main-white);
  border: none;
  border-radius: 6px;
  width: 91px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
}

.custom-btn2{
  background-color: var(--primary-color);
  color: var(--main-white);
  border: none;
  border-radius: 6px;
  width: 151px;
  height: 52px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.text-header-global{
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.text-header-global h2{
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: var(--main-grey);
}

.text-header-global p{
  max-width: 628px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--sec-grey);
  margin-top: 8px;
  margin-bottom: 24px;
}

/* header */
header {
  padding: 20px 0;
  background-color: var(--silver-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 155px;
  height: 24px;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-links ul li a {
  color: var(--text-grey);
  font-size: 16px;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-links-mobile{
  display: none;
}

.nav-links-mobile{
  position: absolute;
  z-index: 5;
  right: 0;
  width: 200px;
  background-color: var(--main-white);
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links-mobile ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.nav-links-mobile ul li{
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid var(--lite-primary-color);
}

.nav-links-mobile ul li a{
  color: var(--main-black);
  font-size: 16px;
  line-height: 24px;
}

.auth-buttons-mobile{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.auth-buttons-mobile .login{
  font-size: 14px;
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  width: 91px;
  height: 40px;
  transition: 0.3s ease;
  cursor: pointer;
}

.bars-nav{
  display: none;
  font-size: 20px;
  color: var(--text-grey);
  position: relative;
  cursor: pointer;
}

.nav-links-mobile{
  display: none;
}

.bars-nav:hover .nav-links-mobile{
  display: block;
}

@media (max-width: 992px){
  .nav-links, .auth-buttons{
    display: none;
  }

  .bars-nav{
  display: block;
}
}

.auth-buttons .login {
  border: none;
  background: none;
  font-size: 14px;
  color: var(--primary-color);
  line-height: 20px;
  font-weight: 500;
}

.hero-section {
  height: calc(100vh - 80px);
  background-color: var(--silver-color);
}

.hero-section .container {
  height: 100%;
}

.hero-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

@media(max-width: 992px){
  .hero-content{
    flex-direction: column;
  }
}

.hero-title {
  font-size: 64px;
  line-height: 76px;
  font-weight: 800;
}

.hero-title span {
  color: var(--primary-color);
}

.hero-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--sec-grey);
  margin-top: 16px;
  margin-bottom: 32px;
}

.hero-image{
  animation: floateImage 3s ease-in-out infinite;
}

@keyframes floateImage{
  0%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-20px);
  }

  100%{
    transform: translateY(0);
  }
}

/* our-client */
.clients-logo{
  display: flex;
  column-gap: 136px;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.our-client{
  padding-bottom: 25px;
}

/* community */
.box-community{
  width: 299px;
  height: 260px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(171, 190, 209, 0.2);
  padding: 24px 16px;
}

.box-icon-community{
  width: 65px;
  height: 56px;
  position: relative;
  margin: 0 auto;
}

.boxs-community .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 24px;
  gap: 127px;
}

.background-tint{
  background-color: var(--tint-color);
  width: 50px;
  height: 50px;
  border-radius: 10px 5px 18px 5px;
  position: absolute;
}

.box-icon-community img{
  width: 48px;
  height: 48px;
  position: absolute;
  left: -15px;
  top: -7px;
}

.box-content{
  text-align: center;
}

.box-content h3{
  font-size: 28px;
  line-height: 36px;
  color: var(--main-grey);
  padding: 16px 0 8px 0;
}

.box-content p{
  font-size: 14px;
  line-height: 20px;
  color: var(--sec-grey);
}

/* Pixelgrade */
.pixelgrade{
  padding-top: 42px;
}

@media (max-width: 992px){
  .box-pixelgrade{
    flex-direction: column;
  }
}

.box-pixelgrade{
  display: flex;
  align-items: center;
  gap: 49px;
}

.pixelgrade-text-btn{
  padding:82px 0 ;
}

.pixelgrade-text{
  text-align: start;
  padding: 30px 0;
}

.pixelgrade-text h2{
  margin-bottom: 16px;
}


/* help-section */
.help-section{
  background-color: var(--silver-color);
  padding: 48px 0;
}

.help-section .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help-section-text{
  width: 50%;
}

.help-section-text h2{
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin-bottom: 8px;
}

.help-section-text h2 div{
  color: var(--primary-color);
}

.help-section-text p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-grey);
}

.help-boxs{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.help-box{
  display: flex;
  max-width: 255px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 6px;
  height: 60px;
}

.help-icon{
  width: 48px;
  height: 48px;
}

.help-icon img{
  width: 100%;
  height: 100%;
}

.help-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
}

.help-content span:first-child{
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  color: var(--main-grey);
}

.help-content span:last-child{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--sec-grey);
}

@media (max-width: 992px){
  .help-section .container{
    flex-direction: column;
    row-gap: 32px;
  }
  .help-section-text,
  .help-boxs{
    width: 100%;
    text-align: center;
  }
}

/* design */
.design{
  padding: 48px 0;
}

@media (max-width: 992px){
  .box-design{
    flex-direction: column;
  }
}

.box-design{
  display: flex;
  align-items: center;
  gap: 49px;
}

.design-text-btn{
  padding:82px 0 ;
}

.design-text{
  text-align: start;
  padding: 30px 0;
}

/* tim */
.tim{
  background-color: var(--silver-color);
  padding: 33px 0;
}

@media (max-width: 992px){
  .box-tim{
    flex-direction: column;
    align-items: center;
  }
  .logos{
    flex-wrap: wrap;
  }
}

.box-tim{
    display: flex;
    gap: 78px;
}

.tim-text{
  text-align: start;
  padding-bottom: 32px;
}

.tim-text p:first-child{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--sec-grey);
}

.tim-text h4{
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: var(--primary-color);
  margin-top: 16px;
  margin-bottom: 8px;
}

.tim-text p:last-child{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #89939e;
}

.logos{
  display: flex;
  align-items: center;
  gap: 41px;
}

.background-tint2{
  background-color: var(--tint-color);
  width: 48px;
  height: 48px;
  border-radius: 8px;
  position: absolute;
}

.logo1 img{
  position: relative;
}

.btn button{
  background: none;
  border: none;
  cursor: pointer;
}

.btn span{
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: var(--primary-color);
  padding-right: 8px;
}

.btn i{
  color: var(--primary-color);
}

/* care */
.care{
  margin-top: 48px;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.card{
  position: relative;
  width: 368px;
  height: 462px;
}

.card-content{
  position: absolute;
  bottom: 88px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  width: 317px;
  height: 176px;
  background-color: var(--silver-color);
}

.card-content p{
  color: var(--sec-grey);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  padding-top: 16px;
}

.card-content button{
  width: 50%;
  height: 40px;
  padding-top: 16px;
  background-color: transparent;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* demo */
.demo{
  background-color: var(--silver-color);
}

.demo-text-btn{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
}

.demo-text h2{
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  color: var(--main-black);
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--main-black);
  flex-wrap: wrap;
  padding-left: 165px;
}

.start{
  color: var(--silver-color);
  max-width: 350px;
}

.start img{
  padding-top: 64px;
  padding-bottom: 40px;
}

.start p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 40px;
}

.contact-icons{
  display: flex;
  gap: 16px;
  padding-bottom: 74px;
}

.contact-icons .contact-icon{
  background-color: var(--sec-grey);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon a{
  color: var(--main-white);
}

.footer-box{
display: flex;
gap: 30px;
padding: 64px 0;
width: 635px;
height: 200px;
margin-right: 165px;
}

.footer-box h4{
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--main-white);
  margin-bottom: 24px;
}

.company, .support{
  width: 160px;
  height: 200px;
}

.middle{
  display: flex;
  gap: 30px;
}

.middle ul{
  list-style: none;
}

.middle ul li{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px;
}

.middle ul li a{
  color: var(--silver-color);
}

.end{
  width: 255px;
  height: 92px;
}

.email-box input{
  display: flex;
  width: 255px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: var(--main-grey);
}

.email-box input::placeholder {
  color: var(--silver-color);
  padding-left: 12px;
}

.email-box{
  position: relative;
}

.email-box i{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--silver-color);
  font-size: 18px;
  cursor: pointer;
}

